Run these commands in MySQL command line or a MySQL client like phpMyAdmin or MySQL Workbench:

CREATE DATABASE placement_tracker;
USE placement_tracker;

CREATE TABLE users (
  id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  email VARCHAR(255) UNIQUE,
  password VARCHAR(255),
  role ENUM('user', 'admin') DEFAULT 'user'
);

CREATE TABLE subjects (
  id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255)
);

CREATE TABLE topics (
  id INT AUTO_INCREMENT PRIMARY KEY,
  title VARCHAR(255),
  subject_id INT,
  FOREIGN KEY (subject_id) REFERENCES subjects(id)
);

CREATE TABLE progress (
  user_id INT,
  topic_id INT,
  completed BOOLEAN DEFAULT 0,
  PRIMARY KEY (user_id, topic_id),
  FOREIGN KEY (user_id) REFERENCES users(id),
  FOREIGN KEY (topic_id) REFERENCES topics(id)
);

CREATE TABLE notes (
  user_id INT,
  topic_id INT,
  notes TEXT,
  resource_link VARCHAR(255),
  PRIMARY KEY (user_id, topic_id),
  FOREIGN KEY (user_id) REFERENCES users(id),
  FOREIGN KEY (topic_id) REFERENCES topics(id)
);

CREATE TABLE coding_profiles (
  id INT AUTO_INCREMENT PRIMARY KEY,
  user_id INT,
  platform VARCHAR(50),
  handle VARCHAR(255),
  profile_url VARCHAR(500),
  rating INT DEFAULT 0,
  max_rating INT DEFAULT 0,
  rank VARCHAR(100),
  avatar_url VARCHAR(500),
  profile_data JSON,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES users(id),
  UNIQUE KEY unique_user_platform (user_id, platform)
);

-- Insert sample subjects
INSERT INTO subjects (name) VALUES 
('Data Structures'),
('Algorithms'),
('System Design'),
('Databases'),
('Operating Systems');

-- Insert sample topics (adjust subject_id as per inserted subjects)
INSERT INTO topics (title, subject_id) VALUES 
('Arrays', 1),
('Linked Lists', 1),
('Stacks', 1),
('Queues', 1),
('Trees', 1),
('Graphs', 1),
('Sorting Algorithms', 2),
('Searching Algorithms', 2),
('Dynamic Programming', 2),
('Greedy Algorithms', 2),
('System Design Basics', 3),
('Scalability', 3),
('SQL Queries', 4),
('Normalization', 4),
('Indexing', 4),
('Process Management', 5),
('Memory Management', 5),
('File Systems', 5);
